/********** Fixes **********/

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
  overflow: auto;
}

.clear {
  clear: both;
}

/* Positioning Classes */


.row {
  clear: both;
  margin-bottom: 2%;
}

.row:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
  overflow: auto;
}

[class*="col-"] {
  float: left;
  margin-left: 2%;
}

[class*="col-"]:first-child {
  margin-left: 0;
}

.col-big {
  width: 66%;
}

.col-small {
  width: 32%;
}


.border_right {
  display: inline-block;
  width: 32%;
  vertical-align: top;
  padding-left: 20px;
}